/*
body {
    font-family: Arial, Helvetica, sans-serif;
}
*/
* {
    box-sizing: border-box;
}

.form-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    border: 10px solid #f1f1f1;
    font-size:12px;
    z-index: 9;
}

.form-container {
    max-width: 150px;
    padding: 10px;
    background-color: white;
}

    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 5px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        font-size: 12px;
    }

        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
            font-size: 12px;
        }
	
	.form-container input[type=number] {
        width: 100%;
        padding: 5px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        font-size: 12px;
    }

        .form-container input[type=number]:focus {
            background-color: #ddd;
            outline: none;
            font-size: 12px;
        }
	
	.form-container .selectTypeIz, .selectTypePipes {
        width: 100%;
        padding: 5px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        font-size: 12px;
    }

        .form-container .selectTypeIz, .selectTypePipes :focus {
            background-color: #ddd;
            outline: none;
            font-size: 12px;
        }
	
    .form-container .btn {
        background-color: #1976D2;
        color: white;
        padding: 5px 7px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
        font-size: 12px;
        font-weight: bold;
    }

    .form-container .cancel {
        background-color: #448AFF;
    }

    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }
